src
tests
examples
.github
.vscode
.idea
node_modules
coverage
.DS_Store
*.log
*.tsbuildinfo
.eslintcache
tsup.config.js
tsconfig.json
eslint.config.js
.prettierrc
.editorconfig
.nvmrc
vitest.config.js
